/** @format */

.relative {
  position: relative;
}

.eye {
  position: absolute;
  top: 60%;
  left: 90%;
  height: 20px;
  width: 20px;
}
.input-field > input {
  background-color: var(--bg-input-color);
  border: 2px solid transparent;
}
