/** @format */

.option-btn {
  all: unset;
  padding: 1rem;
  border-radius: 10px;
  font-weight: 600;
  border: 2px solid var(--primary-color);
  cursor: pointer;
  width: 28rem;
  display: flex;
  justify-content: center;
  background-color: white;
  color: black;
  transition: 200ms;
}
.option-btn:active {
  transition: 100ms ease-in-out;
}

.right-answer {
  background-color: var(--success-color);
}
.wrong-answer {
  background-color: rgb(217, 38, 38);
  color: white;
}

@media only screen and (max-width: 780px) {
  .category-btn {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
  }
}
