/** @format */

.category-btn {
  all: unset;
  padding: 0.4rem 1rem;
  border-radius: 40px;
  font-weight: 600;
  border: 2px solid var(--primary-color);
  cursor: pointer;
}
.allvideos {
  background-color: var(--primary-color);
  color: white;
}
.javascript {
  background-image: linear-gradient(135deg, #fdeb71 10%, #f8d800 100%);
  color: rgb(61, 61, 61);
  border: none;
}
.react {
  background-image: linear-gradient(135deg, #2afadf 10%, #4c83ff 100%);
  color: white;
  border: none;
}
.css {
  background-image: linear-gradient(135deg, #52e5e7 10%, #130cb7 100%);
  color: white;
  border: none;
}
.html {
  background-image: linear-gradient(135deg, #fff6b7 10%, #f6416c 100%);
  color: white;
  border: none;
}

@media only screen and (max-width: 780px) {
  .category-btn {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5px;
    border-radius: 40px;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
  }
}
