/** @format */

.all-card {
  width: 100%;
  height: auto;
  background-color: var(--bg-color);
  border-radius: 10px;
}
.all-card-content {
  margin: 10px;
  width: 100%;
}
.all-thumbnail > a > img {
  border-radius: 10px;
  width: 300px;
  aspect-ratio: 2/1;
  object-fit: cover;
}

.all-card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-weight: bold;
  color: var(--color-heading);
}
.all-card-title > a {
  color: inherit;
  text-decoration: none;
}
.card-desc {
  font-size: 1rem;
  color: var(--color-desc);
  font-size: 500;
}
.all-card-action {
  margin-left: auto;
}
@media only screen and (max-width: 768px) {
  .all-card {
    width: 100%;
    height: auto;
    background-color: var(--bg-color);
  }
  .all-thumbnail > a > img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }
  .all-card-content {
    width: 100px;
  }
}
@media only screen and (max-width: 480px) {
  .all-card {
    width: 100%;
    height: auto;
    background-color: var(--bg-color);
  }
  .all-thumbnail > a > img {
    border-radius: 10px;
    width: 100px;
    height: 100%;
  }
  .all-card-content {
    width: 50px;
  }
}
