/** @format */
.hero-wrapper {
  padding: 1rem 4rem;
  border-radius: 10px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(52, 52, 255, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  color: var(--text-secondary-color);
}
.hero-title-head {
  font-size: clamp(2rem, 4vw, 5rem);
}
.hero-title-subhead {
  font-size: clamp(1rem, 3vh, 2rem);
}

.hero-action {
  margin: 1rem 0;
}
.hero-action > button {
  color: black;
  font-family: "poppins";
  font-weight: 500;
  background: var(--bg-color);
  border-radius: 4px;
  width: 10rem;
}

button > a {
  text-decoration: none;
  color: inherit;
}
@media only screen and (max-width: 780px) {
  .hero-wrapper {
    padding: 1rem 2rem;
  }
  .hero-title-head {
    font-size: 2rem;
  }
  .hero-title-subhead {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 480px) {
  .hero-wrapper {
    padding: 1rem;
  }
}
